{% extends 'base.html.twig' %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" action="#" method="post">
                                <h1 class="text-white text-center">modifier assurance</h1>
                                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'text-white text-danger'}}) }}
                                <div class="form-group">
                                    {{ form_label(form.nom, 'Name') }}
                                    {{ form_errors(form.nom, {'attr': {'class': 'text-danger'}}) }}
                                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.type, 'type') }}
                                    {{ form_errors(form.type, {'attr': {'class': 'text-danger'}}) }}
                                    {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.montant, 'montant') }}
                                    {{ form_errors(form.montant, {'attr': {'class': 'text-danger'}}) }}
                                    {{ form_widget(form.montant, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.date_debut, 'date_debut') }}
                                    {{ form_errors(form.date_debut, {'attr': {'class': 'text-danger'}}) }}
                                    {{ form_widget(form.date_debut, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.date_fin, 'date_fin') }}
                                    {{ form_errors(form.date_fin, {'attr': {'class': 'text-danger'}}) }}
                                    {{ form_widget(form.date_fin, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.contrat, 'contrat') }}
                                    {{ form_errors(form.contrat, {'attr': {'class': 'text-danger'}}) }}
                                    {{ form_widget(form.contrat, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">modifier</button>
                                </div>
                                {{ form_end(form) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>








{% endblock %}